<!DOCTYPE html>
<html>
<head>
<div th:replace="fragments/header :: header-css"/>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     
<meta charset="ISO-8859-1">
 <title>OnlineTableManagment201</title>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<h2>Thanks For booking We wil be touch with you</h2>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>